<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <h3 class="center">Mensajes</h3>
  <ion-list>
    
      
    <ion-item>
      <ion-label>
      <ion-label>luis</ion-label>
      
      <p>llego en 5 minutos</p>
      </ion-label>
      <div>
      <ion-badge slot="end" color="primary">1</ion-badge>
    </div>
    </ion-item>
    <ion-item>
      <ion-label>
      <ion-label>Jered</ion-label>
      
      <p>donde estas?</p>
      </ion-label>
      <div>
      <ion-badge slot="end" color="primary">2</ion-badge>
    </div>
    </ion-item>
    <ion-item>
      <ion-label>
      <ion-label>Messi</ion-label>
      
      <p>donde estas?</p>
      </ion-label>
      <div>
      <ion-badge slot="end" color="primary">1</ion-badge>
    </div>
    </ion-item>
    <ion-item>
      <ion-label>
      <ion-label>carlitos</ion-label>
      
      <p>hola</p>
      </ion-label>
      <div>
      <ion-badge slot="end" color="primary">5</ion-badge>
    </div>
    </ion-item>
    
  </ion-list>
</ion-content>
