<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clientes Random</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">
  <h4>Lista Clientes Random</h4>
  <ion-list *ngFor="let aux of digimones">
    <ion-item>
      <ion-card [routerLink]="'/detallecard/'+aux.id">
        <img src="{{ aux.image }}" alt="">
        <ion-card-header>
          <ion-card-title>{{ aux.name }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>
  <ion-button (click)="cargarSiguientePagina()">Mostrar mas</ion-button>

  <br><br><br><br><br><br><br><br><br>
</ion-content>
