.swal2-popup {
    width: 80%;
  }
  
  .swal2-title {
    font-size: 1.25em; /* Tamaño de fuente para el título */
  }
  
  .swal2-content {
    font-size: 1em; /* Tamaño de fuente para el contenido */
  }
  