<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content >

  <ion-card color="black">
  <ion-card-header>
    <ion-card-title>Inicio Sesion</ion-card-title>
  </ion-card-header>

  <br>
  <br>
  <br>

  <ion-item>
    <ion-input type="string" errorText="Invalid Nombre Usuario" ngModel label="Nombre de Usuario" labelPlacement="floating" placeholder="EJ: Janoski"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="EJ: Janoski123"></ion-input>
  </ion-item>
  
  <br>
  <br>
  <br>
  
  <ion-button (click)="login()" shape="round" class="centrado" >Ingresar</ion-button>

  <br>

  <div class="centrado">¿No Tienes Cuenta?<a (click)="register()">Registrate</a></div>

  <br>

  <div class="centrado">¿Olvidaste Tu Contraseña?<a (click)="recuperar_pass()">Recuperar</a></div>
  
</ion-card>

</ion-content>
