<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">

  <ion-card color="black">
    <ion-card-header>
      <ion-card-title>Inicio Sesion</ion-card-title>
    </ion-card-header>
  
    <br>
    <br>
    <br>
  
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      <div style="color: red;" class="error-message">{{ emailError }}</div>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      <div style="color: red;" class="error-message">{{ passwordError }}</div>
    </ion-item>
    
    <br>
    <br>
    <br>
  
    <ion-button (click)="login()" shape="round" class="centrado" >Ingresar</ion-button>
  
    <br>
  
    <div class="centrado">¿No Tienes Cuenta?<a (click)="register()">Registrate</a></div>
  
    <br>
  
    <div class="centrado">¿Olvidaste Tu Contraseña?<a (click)="recuperar_pass()">Recuperar</a></div>
    
  </ion-card>

</ion-content>
