<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrado_arriba">
    <h1>Registrate</h1>
  </div>

  <div class="container">
    <ion-item>
      <ion-input type="string" label="Nombre de Usuario" labelPlacement="floating" placeholder="EJ: Janoski"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="email" errorText="Invalid email"  label="Correo Electronico" labelPlacement="floating" placeholder="EJ: janoski@gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Contraseña" labelPlacement="floating" placeholder="EJ: Janoski123"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Repetir Contraseña" labelPlacement="floating" placeholder="EJ: Janoski123"></ion-input>
    </ion-item>

    <div (click)="obtenerYEnviarUsuario()" class="ion-activatable ripple-parent custom-parent centrado_arriba">
      Registrarse
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="centrado">¿Ya Tienes Cuenta?<a (click)="login()">Inicia Sesion</a></div>

    <table *ngIf="Usuarios.length > 0">
      <thead>
        <tr>
          <th>Nombre de Usuario</th>
          <th>Email</th>
          <th>Contraseña</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Usuarios">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
        </tr>
      </tbody>
    </table>

  </div>
  
  
</ion-content>
