<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="black">
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="registerForm">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input #user [(ngModel)]="emailValue" type="email" formControlName="email"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input #pass [(ngModel)]="passValue" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Cliente</ion-label>
          <ion-checkbox [(ngModel)]="checkbox1Checked" formControlName="cliente" (ionChange)="check(1)"></ion-checkbox>
          <ion-label>Conductor</ion-label>
          <ion-checkbox [(ngModel)]="checkbox2Checked" formControlName="conductor" (ionChange)="check(2)"></ion-checkbox>
        </ion-item>
      </form>
    </ion-card-content>

    <div (click)="register()" class="ion-activatable ripple-parent custom-parent centrado_arriba">
      Registrarse
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div (click)="transferUsers()" class="ion-activatable ripple-parent custom-parent centrado_arriba">
      Registrar Usuarios
      <ion-ripple-effect></ion-ripple-effect>
    </div>

    <div class="centrado">¿Ya Tienes Cuenta?<a (click)="login()">Inicia Sesion</a></div>
    
    <br>

    <table *ngIf="Usuarios.length > 0">
      <thead>
        <tr>
          <th>Nombre de Usuario</th>
          <th>Email</th>
          <th>Contraseña</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Usuarios">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
        </tr>
      </tbody>
    </table>

  </ion-card>
  
  
</ion-content>
