<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Security and Privacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container margen_pequeño">
    <h1>Seguridad y Privacidad en Nuestra Aplicación</h1>
  <p>Bienvenidos a nuestra aplicación, donde la seguridad y la privacidad son nuestra máxima prioridad.</p>

  <h2>Seguridad</h2>
  <p>Nuestra aplicación utiliza las últimas medidas de seguridad para proteger tus datos personales y la información que compartes con nosotros. Algunas de las características de seguridad incluyen:</p>
  <ul>
    <li>Conexión segura a través de HTTPS para proteger la transferencia de datos.</li>
    <li>Protección contra ataques de inyección de SQL y Cross-Site Scripting (XSS).</li>
    <li>Autenticación robusta y control de acceso para garantizar que solo las personas autorizadas accedan a la aplicación.</li>
    <li>Actualizaciones regulares para mantenernos protegidos contra las últimas amenazas de seguridad.</li>
  </ul>

  <h2>Privacidad</h2>
  <p>Tu privacidad es importante para nosotros. Aquí hay algunas de las formas en que protegemos tus datos personales:</p>
  <ul>
    <li>Recopilamos solo la información necesaria para brindarte nuestros servicios y obtenemos tu consentimiento antes de hacerlo.</li>
    <li>No compartimos tu información con terceros sin tu consentimiento explícito.</li>
    <li>Utilizamos prácticas de cifrado para proteger tus datos mientras están almacenados en nuestros servidores.</li>
    <li>Te brindamos control sobre tus datos, lo que te permite acceder, corregir o eliminar tu información personal en cualquier momento.</li>
  </ul>

  <p>Si tienes alguna pregunta o inquietud sobre la seguridad o la privacidad en nuestra aplicación, no dudes en contactarnos. Estamos aquí para ayudarte y garantizar que tu experiencia sea segura y protegida.</p>
  </div>
</ion-content>
