<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Read Code QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Leer codigo QR</h3>
  <p>con la lectura del codigo QR podras aceptar el viaje de cada conductor</p>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="addPhotoToGallery()">
    <ion-icon name='camera'></ion-icon>
    </ion-fab-button>

</ion-fab>   
</ion-content>
<br><br><br><br>
