<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrado_arriba" >
    <h1>Bienvenido Conductor</h1>
  </div>
  <br>

  
  <div class="container border">
    <div style="margin: 10%; ">
      <h4>¿Que somos?</h4>
      <h6>Aplicacion dedicada a alumnos de Duoc que no cuentan con medios de transporte.</h6>
    </div>
  </div>

  <br>

  <div class="container border">
    <div class="centrado_arriba">
      <h4>Pasajeros disponibles</h4>
    </div>
    <div (click)="pasajeros()" class="ion-activatable ripple-parent custom-parent centrado_arriba">
      Ver mas
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>

  <br>

  <div class="container  border">
    <div class="centrado_arriba">
      <h4>Cliente Frecuentes</h4>
    </div>
    <app-card-cliente [mostrarHeader]="true" [mostrarBoton]="false" imagen="https://caracol.com.co/resizer/xE2xxy1zy4o2Ow8O4rzKMHnT2o4=/650x488/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/prisaradioco/JXFOEJKH7BITNDYTJXS2UQ3F2I.jpg" direccion="Eyzaguirre 0234" nombre="Vicente" edad="18" descripcion="Preparador Fisico" telefono="+56 9 87459851"></app-card-cliente>
    <br>
    <app-card-cliente [mostrarHeader]="true" [mostrarBoton]="false" imagen="https://www.semana.com/resizer/NLCC7OsQwKvEAjw9ueaK23JQ5mI=/arc-anglerfish-arc2-prod-semana/public/CV2NB24T2NB3NBNFIFZT4T2HFU.jpg" direccion="Santa Rosa 0986" nombre="Fransisca" edad="24" descripcion="Tecnica en Enfermaria" telefono="+56 9 84512635"></app-card-cliente>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
