<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Terms and Conditions</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="login()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item>
    <ion-label>{{"selecciona" | translate}}</ion-label>
    <ion-select [(ngModel)]="idioma" (ionChange)="changeLangs($event)">
      <ion-select-option *ngFor="let lang of langs">{{lang}}</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="container margen_pequeño">
    

    <h1>{{"Términos y Condiciones de Uso" | translate}}</h1>
  
    <h2>{{"Aceptación de los Términos" | translate}}</h2>
    <h2>{{"Privacidad" | translate}}</h2>
    <p>{{"Nuestra política de privacidad describe cómo recopilamos, utilizamos y protegemos tu información personal. Al utilizar la aplicación, aceptas nuestras prácticas de privacidad que se describen en la política de privacidad." |translate}}</p>

   
   
   
    <p>{{"Gracias por utilizar nuestra aplicación y por leer nuestros términos y condiciones de uso." |translate}}</p>
    </div>

    <br>

    <ion-checkbox class="margen_pequeño" [(ngModel)]="check">{{"Acepta teminos y condiciones" |translate}}</ion-checkbox>

    <br>
    <br><br><br><br><br><br><br><br>
</ion-content>
