/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.centrado_arriba {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    justify-content: space-between;
    text-align: center;
  
    height: 170px;
    width: 400px;
  }
  
  b {
    width: 100%;
  }
  
  .ripple-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  
    position: relative;
    overflow: hidden;
  
    border: 1px solid #ddd;
  
    user-select: none;
  
    width: 70%;
    height: 50px;
    border-radius: 8px;
    margin: 15%;
  }
  
  .custom-parent {
    color: rgb(72, 153, 219);
  }
  
  .border {
    border: 5px solid rgb(72, 153, 219);
  }