<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Restore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="centrado_arriba" style="margin: 12%;">
    <h1>Restrablece tu Contraseña</h1>
  </div>
  <br>
  
  <ion-item>
    <ion-input type="string" errorText="Invalido Nombre Usuario" ngModel label="Nombre de Usuario" labelPlacement="floating" placeholder="EJ: Janoski"></ion-input>
  </ion-item>

  <div class="ion-activatable ripple-parent custom-parent centrado_arriba">
    Buscar
    <ion-ripple-effect></ion-ripple-effect>
  </div>

</ion-content>


